# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

# Data (we don't upload large files to GitHub)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*.h5
models/*.pkl
models/*.joblib

# Environment
.env
venv/
env/
ENV/
myenv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db